.navigation {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  height: 100dvh;
  min-width: 5rem;
  border-right: 1px solid #fff;
  transition: all 0.7s;
  font-family: "Quicksand", sans-serif;
  z-index: 3;
}

.navigation ul {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  align-items: center;
}

.navigation ul li {
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
}

.navigation ul li.active {
  background-color: #fff;
  color: #000;
}

.navigation ul li:hover:not(.active) {
  background-color: #303030;
}

.navigation ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  gap: 0.8rem;
  font-weight: 700;
}

.navigation ul li a .ion_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
}

.navigation ul li a span {
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.7s;
  height: auto;
  opacity: 0;
}

#navbar.open {
  min-width: 12%;
}

#navbar.open ul li a span {
  width: 6.5rem;
}

#navbar.open ul li a {
  justify-content: flex-start;
  gap: 0.8rem;
}

#navbar.open ul li a span {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .navigation {
    width: 100%;
    height: 3.5rem;
    top: 0;
    position: sticky;
    border-bottom: 1px solid #fff;
    border-right: none;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .navigation ul li {
    padding: 0.4rem;
  }

  .navigation ul li a span{
    display: none;
  }
}
