.project_card{
  height: 30rem;
  /* background-color: aliceblue; */
  width: 20rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.project_card > p{
  position: absolute;
  align-self: flex-end;
  margin-right: .5rem;
  margin-top: .2rem;
}

.proj_img{
  width: 100%;
  height: 30%;
  background-color: aliceblue;
  object-fit: cover;
}

.proj_infos{
  height: 70%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}

.proj_texts{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  height: 85%;
  width: 100%;
}

.proj_texts > h1 {
  font-size: 1.1rem;
  font-weight: 500;
  width: fit-content;
  padding: .2rem 1rem;
  color: #fff;
  background-color: #252525;
  border-radius: 3rem;
  border: .5px solid transparent;
  transition: .5s ease;
  cursor: pointer;
}

.project_card:hover .proj_texts >h1{
  border: .5px solid #fff;
}

.proj_texts > h2 {
  font-size: 1rem;
}

.proj_texts > h3 {
  font-size: .95rem;
  text-align: justify;
}

.proj_tecs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #252525;
  width: 100%;
  height: 15%;
  min-height: 15%;
  font-size: 1.5rem;
}

.concluded{
  background-color: rgba(103, 232, 77, 0.5);
  padding: .1rem .5rem;
  border-radius: 3rem;
  font-weight: 500;
  color: rgb(22, 132, 1);
}

.development{
  background-color: rgba(77, 95, 232, 0.5);
  padding: .1rem .5rem;
  border-radius: 3rem;
  font-weight: 500;
  color: rgba(4, 96, 243, 1);
}


@media screen and (min-width:320px) and (max-width:1440px) {
  .project_card{
    width: fit-content;
    /* gap: 1rem; */
  }

  .proj_infos{
    row-gap: .5rem;
  }

  .proj_texts > h1 {
    font-size: 1rem;
    font-weight: 500;
  }
}

.infoFetch{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
}